<template lang="pug">
.container
  .ui.left.vertical.menu.sidebar
    a.item
      .gofar-logo #[a(href="https://gofar.co") Gofar]
    a.item Home #[i.home.icon]
    a.item Data: control group #[i.icon.chart.bar.outline]
    a.item Data: treatment group #[i.icon.chart.bar.outline]
    a.item Summary
  .pusher
    //- div(style="position: fixed; top: 0px; left: 1200px;")
      label
        input(type="checkbox", v-model="adv")
        | Show/edit data
      div(v-if="adv")
        textarea(v-model="dataJSON", rows=20, cols=40)
      br
      button(@click="refreshData()") Refresh data
    div.widgets
      h1.title SIRA - GOFAR
      h2.subtitle Young Driver Dashboard

      .center-cell
        h3.param-group-title KM DRIVEN
        p.value {{store.widgetsData.kmtotal}}
      .columns
        .column
          h3.param Control
          p.value {{store.widgetsData.kmctrl}}
        .column
          h3.param Treatment
          p.value {{store.widgetsData.kmtr}}

      .center-cell
        h3.param-group-title Average group position
      .columns
        .column
          h3.param Control
          arc(:value="store.widgetsData.drppCtrl", label="/100")
        .column
          h3.param Treatment
          arc(:value="store.widgetsData.drppTr", label="/100")

      .center-cell
        h3.param-group-title Driver scores
      .columns
        .column
          h3.param Control
          arc(:value="store.widgetsData.driversAccelCtrl", label="accel")
          arc(:value="store.widgetsData.driversBrakingCtrl", label="braking")
          arc(:value="store.widgetsData.driversTotalCtrl", label="total")
        .column
          h3.param Treatment
          arc(:value="store.widgetsData.driversAccelTr", label="accel")
          arc(:value="store.widgetsData.driversBrakingTr", label="braking")
          arc(:value="store.widgetsData.driversTotalTr", label="total")

      .center-cell
        h3.param-group-title User numbers
        p.value {{store.widgetsData.users}}
      .columns
        .column
          h3.param Control
          p.value {{store.widgetsData.usersctrl}}
        .column
          h3.param Treatment
          p.value {{store.widgetsData.userstr}}

      .center-cell
        h3.param-group-title Driver numbers
        p.value {{store.widgetsData.users}}
      .columns
        .column
          h3.param Control
          p.value {{store.widgetsData.usersctrl}}
        .column
          h3.param Treatment
          p.value {{store.widgetsData.userstr}}

      .center-cell
        h3.param-group-title Daily active drivers
        p.value {{store.widgetsData.dailyDrivers}}
      .columns
        .column
          h3.param Control
          p.value {{store.widgetsData.dailyDriversCtrl}}
        .column
          h3.param Treatment
          p.value {{store.widgetsData.dailyDriversTr}}

      .center-cell
        h3.param-group-title Weekly active drivers
        p.value {{store.widgetsData.weeklyDrivers}}
      .columns
        .column
          h3.param Control
          p.value {{store.widgetsData.weeklyDriversCtrl}}
        .column
          h3.param Treatment
          p.value {{store.widgetsData.weeklyDriversTr}}
</template>

<script>
import ArcWidget from './ArcWidget.vue'
export default {
  name: 'App',
  components: { arc: ArcWidget },
  props: {auth: 0},
  data: () => 1 && {
    adv: 0,
    hnd: false,
    store: {
      widgetsData: {kmtotal: 0} || {
        kmtotal: 1787989,
        kmtr: 980000,
        kmctrl: 798000,
        users: 473+430,
        userstr: 473,
        usersctrl: 430,

        drppTr: [25, 100, 'th'],
        drppCtrl: [62, 100, 'nd'],

        driversAccelTr: [25, 100],
        driversBrakingTr: [25, 100],
        driversTotalTr: [50, 200],

        driversAccelCtrl: [62, 100],
        driversBrakingCtrl: [62, 100],
        driversTotalCtrl: [124, 200],
      }
    }
  },
  methods: {
    refreshData() {
      const vm = this;
      axios.get('/params', this.auth)
        .then(function (r) {
          if (r.data.kmtotal)
            vm.store.widgetsData = r.data;
        })
        .catch(function (error) {
          console.error(error, 'Could not connect to the server.');
        })
      vm.hnd = setTimeout(vm.refreshData.bind(vm), 60000);
    }
  },
  mounted() {
    this.refreshData()
  },
  destroyed() {
    this.hnd && clearInterval(this.hnd)
  },
  computed: {
    dataJSON: {
      get() {
        return JSON.stringify(this.store.widgetsData, null, 2)
      },
      set(val) {
        return this.store.widgetsData = JSON.parse(val)
      }
    }
  }
}
</script>

<style lang="scss">

.menu {

}
</style>
