<template lang="pug">
div.arc(ref="root")
    chartist(
        ref="chart"
        ratio="ct-major-second"
        type="Pie"
        :data='data'
        :options=`{
          donutSolid: true,
          lineSmooth: false,
          total: 7,
          donut: true,
          donutWidth: 25,
          startAngle: 205,
          showLabel: 0
        }`)
    div(style="position: absolute;")
        div.dashdesc(style="position: relative;")
            div.arc-value {{value[0]}}{{valuesuxfix}}
            p.arc-label {{label}}
</template>

<script>
import Vue from 'vue';

export default {
    name: 'arc',
    props: {
        value: {
            default: e => [0, 6],
            type: Array,
        },
        label: '',
    },
    data: _ => 1 && {
    },
    computed: {
        valuesuxfix() {
            return this.value[2] || ""
        },
        data() {
            const v = this.value[0] / this.value[1] * 4
            const ret = {
                labels: ["pink", "spacing", "purple", "spacing", "blue", "spacing", "lightblue", "spacing", "grayout"],
                series: []
                    .concat(v>=0?[     Math.max(v%1, v>=1?1:0)]:[])
                    .concat(v>1?[.02, Math.max(v%1, v>=2?1:0)]:[])
                    .concat(v>2?[.02, Math.max(v%1, v>=3?1:0)]:[])
                    .concat(v>3?[.02, Math.max(v%1, v>=4?1:0)]:[])
                .map(e => e * 6 / 4.06)
            }
            return ret
        }
    }
}
</script>

<style lang="scss">

@import 'common.scss';

</style>
