@import 'common.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: "Mueller";
    src: url('./assets/Muller Regular.otf');
}

#app > .ui > .column {
    max-width: 600px;
}

.container {
}

body, h1, h2, h3 {
    font-family: 'Mueller', 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    h2 {
        font-size: 1rem;
    }
}
*, input {
    font-size: 1rem;
}

.title, .subtitle {
    color: $maincolor;
    text-align: center;
    font-size: 5em;
    font-weight: normal;
}

h2 {
    color: $subcolor;
}

.arc {
    width: 200px;
    height: 200px;
    // border-radius: 100px;
    // margin: 0px;
    // padding: 0px;
    // border: 40px solid $gradbegin;
    color: $subcolor;
    background: transparent;
    margin: 0 auto;
    margin-top: 30px;
}

.dashdesc {
    width: 200px;
    top: -120px;
}

.arc-value {
    color: $maincolor;
    font-size: 55px;
}
.arc-label {
    color: $subcolor;
    margin-top: 20px;
    font-size: 30px;
}

.ct-major-second {
    .ct-series-a {
        fill: #fc3e65;
    }
    .ct-series-c {
        fill: #84689c;
    }
    .ct-series-e {
        fill: #1d8ccc;
    }
    .ct-series-g {
        fill: #55b9e6;
    }
    .ct-series-b,
    .ct-series-d,
    .ct-series-f,
    .ct-series-h {
       fill: none;
    }
}

.param-group-title {
    text-transform: uppercase;
    color: $subcolor;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 40px;
}

h3.param {
    color: $subcolor;
    font-size: 2.5em;
    font-weight: normal;
    &:not(:first-child) {
        margin-top: 40px;
    }
}

.value {
    color: $maincolor;
    font-size: 4em;
    font-weight: normal;
}

.center-cell {
    text-align: center;
    &:not(:first-child) {
        margin-top: 6em;
    }
}

.columns {
    display: inline-block;;
    padding: 0;
    margin: 0;
    width: 100%;
    .column {
        width: 50%;
        margin: 0;
        padding: 0;
        text-align: center;
        float: left;
        &:nth-child(2) {
            border-left: 1px $subcolor solid;
        }
    }
}

textarea {
    font-family: "courier new"
}
